/* Customer CSS */
.sbContainer .logo-container .logo a img {
max-height:170px;
}

#page-whole-sale .contactus-wrapper-outer {
display:none;
}

#products-img {
max-width:250px;
}

img#products-img {
padding:10px;
border:2px solid #879b60;
background:#f0ecc5;
}

img#products-img2 {
padding:10px;
border:2px Solid #879b60;
}

div#body_body_divIngredients {
padding:10px;
border:2px solid #f0ecc5;
background:#f0ecc5;
}

.product {
padding:10px;
border:2px solid #f0ecc5;
background:#f0ecc5;
}

.product {
padding-bottom:40px;
}

div#body_body_divIngredients p {
font-size:13px!important;
}

#page-products .library_wrapper,#page-faq .library_wrapper,#page-privacy .library_wrapper,#page-simply-shawnee-handcrafted-soap .library_wrapper,#page-soap-club .library_wrapper,#page-whole-sale .library_wrapper,#page-disclaimer .library_wrapper {
display:none!important;
}

#page-products .page-content.body_subpages .slot-main-wrapper,#page-faq .page-content.body_subpages .slot-main-wrapper,#page-privacy .page-content.body_subpages .slot-main-wrapper,#page-simply-shawnee-handcrafted-soap .page-content.body_subpages .slot-main-wrapper,#page-soap-club .page-content.body_subpages .slot-main-wrapper,#page-whole-sale .page-content.body_subpages .slot-main-wrapper,#page-disclaimer .page-content.body_subpages .slot-main-wrapper {
width:100%!important;
}

.column1 {
width:33%;
height:auto;
float:left;
}

.column2 {
width:33%;
height:auto;
float:left;
}

.column3 {
width:33%;
height:auto;
float:left;
}

.product-column1 {
width:50%;
height:auto;
float:left;
}

.product-column2 {
width:50%;
height:auto;
float:left;
padding-left:20px;
}

.clear {
clear:both;
}

.sbContainer #slot-links {
display:none!important;
}

.sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper #slot-mainImg img {
max-width:215px!important;
}

h3.sidebar_title {
display:none;
}

/*==Custom Colors==*/
#page-index .sbContainer header {
background-color:#fff;
}

.sbContainer header {
background-color:#f0ecc5;
}

.sbContainer .nav-primary ul li.active>a {
color:#bbada0;
}

.sbContainer .nav-primary ul li.active>a:after {
background-color:#bbada0;
}

.sbContainer .nav-primary ul li a {
color:#978d81;
}

.sbContainer .nav-primary ul li a:hover {
color:#bbada0;
}

.sbContainer .nav-primary ul .magic-line {
background-color:#bbada0;
}

.sbContainer a {
color:#978d81;
}

.sbContainer a:hover {
color:#bbada0;
}

.sbContainer .hor-separator {
background-color:#879b60;
}

.sbContainer .doctor_info_wrapper_outer {
background-color:#a7c175;
}

.sbContainer .button--submit-colors:hover,.sbContainer .sbContactResponsive .btn:hover,.sbContainer .sbContactResponsive .submit:hover,.sbContainer #sbBlogPosts .sbBlogComments .btn:hover,.sbContainer #sbBlogPosts .sbBlogComments .submit:hover,.sbContainer .blog-container .sbBlogComments .btn:hover,.sbContainer .blog-container .sbBlogComments .submit:hover,.sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper #slot-responsive-appt-request a:hover,.sbContainer #sbAppointment .btn:hover,.sbContainer #sbAppointment .submit:hover,.sbContainer .leadForm .btn:hover,.sbContainer .leadForm .submit:hover {
border-color:#879b60;
color:#fff;
background-color:#879b60;
}

.sbContainer .button--submit-colors,.sbContainer .sbContactResponsive .btn,.sbContainer .sbContactResponsive .submit,.sbContainer #sbBlogPosts .sbBlogComments .btn,.sbContainer #sbBlogPosts .sbBlogComments .submit,.sbContainer .blog-container .sbBlogComments .btn,.sbContainer .blog-container .sbBlogComments .submit,.sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper #slot-responsive-appt-request a,.sbContainer #sbAppointment .btn,.sbContainer #sbAppointment .submit,.sbContainer .leadForm .btn,.sbContainer .leadForm .submit {
border-color:#879b60;
color:#333;
background-color:transparent;
}

.sbContainer footer .nav-primary ul li.active>a:after {
background-color:#a7c175;
}

.sbContainer footer .nav-primary ul li a:hover {
color:#a7c175;
}

.sbContainer footer .nav-primary ul li a {
color:#f0ecc5;
}

.sbContainer .social-media ul li a {
background-color:#a7c175;
}

.sbContainer .social-media ul li a:hover {
background-color:#f0ecc5;
}

.sbContainer .social-media ul li a:before {
color:#978d81;
}

.sbContainer footer #slot-footer3 ul li a {
color:#f0ecc5;
}

.sbContainer footer .nav-primary ul .magic-line {
background-color:#a7c175;
}

.sbContainer footer {
background-color:#978d81;
}

.sbContainer .inner-page-title-wrapper {
background-color:#879b60;
}

#page-index .sbContainer .page-content-wrapper {
background-color:#f0ecc5;
}

.sbContainer .page-content #slot-main ul li:before {
color:#879b60;
}

.sbContainer aside[role="complementary"] #slot-library ul {
border-color:#f0ecc5;
background:#f0ecc5;
}

.sbContainer aside[role="complementary"] #slot-library ul li a {
border-color:#879b60;
}

.sbContainer aside[role="complementary"] #slot-library ul li ul li a {
color:#706d66;
background-color:#f0ecc5;
border-color:#879b60;
}

.sbContainer aside[role="complementary"] #slot-library ul li ul li a:hover {
background-color:#f0ecc5;
}

.sbContainer aside[role="complementary"] #slot-library ul li.haschild a span {
color:#879b60;
}

/*==Form Icons==*/
.sbContactResponsive .form__group.sbName:before {
background:url(/images/contact-name-icon-03.png);
}

.sbContactResponsive .form__group.sbEmail:before {
background:url(/images/contact-email-icon-03.png);
}

.sbContactResponsive .form__group.sbPhone:before {
background:url(/images/contact-phone-icon-03.png);
}

/*==SLIDER==*/
@media (min-width: 992px) {
.sbContainer .slider>.sbWidget .slide {
background-position:50% 0!important;
}
}

.ofc_slide1 {
background-image:url(/images/custom/b1.jpg)!important;
background-position:center;
}

.ofc_slide2 {
background-image:url(/images/custom/c2.jpg)!important;
background-position:center;
}

.ofc_slide3 {
background-image:url(/images/custom/c3.jpg)!important;
background-position:center;
}

.ofc_slide4 {
background-image:url(/images/custom/a4a.jpg)!important;
background-position:center;
}

/*==Media Queries==*/
@media (min-width: 991px) {
img.custom-int-img {
float:right;
width:315px;
margin-top:10px;
margin-left:30px;
}
}

@media (max-width: 450px) {
.column1 {
width:100%;
height:auto;
float:left;
}

.column2 {
width:100%;
height:auto;
float:left;
}

.column3 {
width:100%;
height:auto;
float:left;
}

.product-column1 {
width:100%;
height:auto;
float:left;
}

.product-column2 {
width:100%;
height:auto;
float:left;
}

.clear {
clear:both;
}
}

.sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper .meet_doctor_info .meet_doctor_title {
font-size:40px;
font-family:"montserrat-light",Arial,Helvetica,sans-serif;
text-transform:capitalize;
}

/* CUSTOM BUTTON */
.product-btn {
margin-top:0;
margin-left:115px;
}

.product-btn a {
border-radius:30px;
padding:5px 15px;
text-transform:uppercase;
background-color:#879b60;
border-color:#879b60;
color:#FFF;
}

.product-btn a:hover {
color:#FFF;
background-color:#f0ecc5;
}

.product-buy-btn {
margin-top:15px;
}

.product-buy-btn a {
border-radius:30px;
padding:5px 15px;
text-transform:uppercase;
background-color:#879b60;
border-color:#879b60;
color:#FFF;
}

.product-buy-btn a:hover {
color:#FFF;
background-color:#f0ecc5;
}

.sbContainer #slot-main .product-column1 p:last-child {
margin-bottom:0;
}

.sbContainer #slot-main .product-column2 p:last-child {
margin-bottom:0;
}

.sbContainer aside[role="complementary"] #slot-library ul li.active a {
background-color:#879b60!important;
color:#fff!important;
}

div#body_body_divIngredients {
padding-bottom:50px;
}

.sbContainer aside[role="complementary"] #slot-library ul li:first-child>a:hover,.sbContainer aside[role="complementary"] #slot-library ul li:first-child>a {
border:none;
font-weight:bolder;
font-size:26px;
background:#879b60;
color:#fff;
border-bottom:5px solid #f0ecc5;
}

.sbContainer .make-appointment-container {
display:none;
}

p.leadFormInfo {
display:none;
}